.funcionamento {

    .texto {
        padding-top: 70px;


    }

    img {
        will-change: filter;
        transition: filter 300ms;

        &:hover {
            filter: drop-shadow(0 0 2em #85fb61aa);
        }

    }
}